<tr>
  <td class="gedcom_content">
    <span>
      <table class="gedcom_preview">
        <% begin %>
          <% GedcomsHelper::GedcomFile.new(@gedcom.gedcom).head(10).each do |s| %>
            <tr><td><%= s %></td></tr>
          <% end %>
          <tr><td><strong>.&nbsp;.&nbsp;.</strong></td></tr>
        <% rescue %>
          <% error_msg = "Could not display GEDCOM - try uploading it again" %>
          <% flash.now[:error] = error_msg %>
        <% end %>
      </table>
    </span>
    <span class="timestamp">
      Uploaded <%= time_ago_in_words(@gedcom.gedcom_updated_at) %> ago.
    </span>
  </td>
</tr>
