<h1>About</h1>
<p>
<%= app_name %> is a free web app that helps you answer important 
questions about your ancestry.
See the <%= link_to "Help", help_path %> page for tips on using <%= app_name %>.
</p>
